@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hoverable-icon-color: #3f3a36;
  --hoverable-icon-stroke-width: 1;
}

@layer base {
  body {
    @apply font-default text-base text-primary;
    user-select: none;
  }

  input {
    min-width: 30px;
  }
}
